.title {
  background: rgb(141, 141, 172);
  color: black;
  font-family: MyFont;
  padding: 5px;
}

.wrapper {
  background: rgb(243, 243, 247);
  display:flex;
  color: black;

  span.flagName {
    padding-left: 15px;
  }
} 

.flagWrapper {
  border: 1px solid silver;
  padding: 40px;
}

.fieldsWrapper {
  span:nth-child(2) {
    font-size: 18px;
  }

  div {
    display: inline-flex;
  }

  span:nth-child(3) {
    font-size: 13px;
  }



}
  

.leftRail {
  width:90%;
  text-align: left;
}

.rightRail {
  width: 10%;
  min-width: 100px;
  button {
    width: 100%;
    padding: 5px;
    cursor: pointer;
  }
}

button {
  border-radius: 5px;  
  margin-bottom: 5px;
}

button:hover {
  border-radius: 5px;
  background-color: darkgray;
  color: white;
  font-weight: 800;
}

.addButtonVisible {
  border-radius: 5px;
}

.addButtonHidden {
  display: none;
}


.flagValue {
  float: right;
}