@font-face {
  font-family: 'MyFont';
  src:  url('../../fonts/open-sans-v27-latin-regular.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
.appWrapper {
  background: #525290;
  color: white;
  text-align: center;
  font-family: MyFont;
}
